@import "../valo/valo.scss";
@mixin mui {
  @include valo;
  .v-app {
    background-image:url("img/pattern.png");
  }
  .v-button {
    background: transparent;
    text-align: left;
    border: 2px #d6c9c9;
    border-radius: 0;
    font-family: "Open Sans";
    font-size: 15px;
    color: #005628;
  }
  .v-panel {
    background-color: white;
    border: 2px #d6c9c9;
    font-family: "Open Sans";
    color: #005628;
  }
  .v-gwt-FileUpload {
    background: transparent;
    text-align: left;
    border-bottom-color: #d6c9c9;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    font-family: "Open Sans";
    font-size: 15px;
    color: #005628;
  }
  .v-textfield {
    border: 2px #d6c9c9;
    border-radius: 0;
    font-family: "Open Sans";
  }
  .v-captiontext {
    color: #005628;
    margin-left: 15px;
    font-family: "Open Sans";
  }
  .v-slot {
    background-color: white;

  }
  .h-slot{
    background-color: white;
  }
  .v-link {
    background: transparent;
    text-align: left;
    border-color: #d6c9c9;
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;

    border-radius: 0;
    font-family: "Open Sans";
    font-size: 15px;
    color: #005628;
  }
}
@include mui;